<configuration>
    <property name="LOG_DIR" value="${user.home}/commonground_server/logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} | %thread | %-5level| %logger | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/main/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/main/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} | %thread | %-5level| %logger | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/spring/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/spring/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} | %thread | %-5level| %logger | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="HIBERNATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/hibernate/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/hibernate/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} | %thread | %-5level| %logger | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OTHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/other/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/other/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, UTC} | %thread | %-5level| %logger | %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.commonground" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="MAIN" />
    </logger>
    <logger name="org.springframework" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SPRING" />
    </logger>
    <logger name="org.hibernate" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="HIBERNATE" />
    </logger>
    <root level="INFO" >
        <appender-ref ref="STDOUT" />
        <appender-ref ref="OTHER" />
    </root>
</configuration>